.customFileInput {
	display: block;
	height: max-content;
	width: max-content;
	position: relative;
	z-index: 10;
	padding: 30px;
}

.customFileInput .btn {
	min-width: 180px;
}

.customFileInput input[type='file'] {
	display: none;
}
