.conwayGrid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns-count), var(--grid-cell-size));
	box-shadow: var(--shadow-medium);
	background-color: var(--bg-secondary);
	max-width: fit-content;
	margin: 50px auto;
}
